body {background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);}
img{border-radius: 50%;}
h2{font-family : 'Roboto', sans-serif;}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }